<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.util.dao.ICommonDao">

	<select id="queryOrderList" parameterType="Map" resultType="Map">
		select o.id,o.order_name name,o.order_no orderNo,o.order_code
		orderCode,o.order_qty orderQty,t.internal_name busType
		from BMS_OR_ORDER o
		left join BMS_BASE_BUS_TYPE t on o.bus_type_id=t.id 
		<if test="factory !=null and  factory !=''">
		left join BMS_OR_FACTORY_ORDER fo on fo.order_id=o.id
		left join BMS_BASE_FACTORY f on fo.factory_id=f.id
		</if>		
		where o.order_no like CONCAT('%',#{orderNo},'%') 
		<if test="busType!=null and  busType!=''">
			and t.internal_name=#{busType}
		</if>
		<if test="factory !=null and  factory !=''">
			and f.factory_name=#{factory}
		</if>
		order by o.id desc
	</select>

	<select id="queryFactoryList" parameterType="Map" resultType="Map">			
		SELECT id,factory_name AS name FROM BMS_BASE_FACTORY WHERE delete_flag='0'
<!-- 		<if test="function_url !=null and  function_url !=''">
		AND (locate(FACTORY_CODE,
		(SELECT GROUP_CONCAT(R.permission_value) FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url})))
		)>0 OR
		((SELECT IFNULL(GROUP_CONCAT(R.permission_value),'') FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url}))) = '')
		)
		</if> -->
	</select>
	
	<select id="queryFactoryListAuth" parameterType="Map" resultType="Map">			
		SELECT o.id,o.factory_name name 
		FROM BMS_BASE_FACTORY o WHERE o.delete_flag = '0'
		<if test="function_url !=null and  function_url !=''">
		AND (locate(o.factory_code,
		(SELECT GROUP_CONCAT(R.permission_value) FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url})))
		)>0 OR
		((SELECT IFNULL(GROUP_CONCAT(R.permission_value),'') FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url}))) = '')
		)
		</if>
	</select>
	
	<select id="queryBusTypeList" parameterType="String" resultType="Map">
		select id,bus_type_code code,internal_name name from BMS_BASE_BUS_TYPE
		group by bus_type_code
	</select>
	
	<select id="queryKeysList" parameterType="String" resultType="map">
		SELECT id,key_name,key_name_en,value from BMS_BASE_KEY where
		delete_flag='0' and key_code=#{keyCode}
	</select>
	
	<select id="queryDepartmentByFactory" parameterType="String" resultType="Map">
		SELECT id, foreign_id AS factory_id, name
		FROM BMS_BASE_ORG where parent_id = (select id from BMS_BASE_ORG where foreign_id = #{factory_id} and org_type = 2)
		and org_type = 3
	</select>
	
	<select id="getAllRoleAuthority" parameterType="String" resultType="String">
		SELECT DISTINCT FUNCTION_URL FROM BMS_BASE_FUNCTION
	</select>
	
	<select id="getRoleAuthority" parameterType="String" resultType="String">
		SELECT DISTINCT FUNCTION_URL FROM BMS_BASE_FUNCTION F WHERE F.id IN 
		(SELECT DISTINCT FUNCTION_ID FROM BMS_BASE_ROLE_PERMISSION P WHERE P.role_id IN 
			(SELECT DISTINCT ROLE_ID FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number}))
	</select>
	
	<select id="queryWorkshopList" parameterType="Map" resultType="Map">			
		SELECT id,workshop_name AS name FROM BMS_BASE_WORKSHOP WHERE delete_flag='0'
	</select>
	
	<select id="queryWorkshopListAuth" parameterType="Map" resultType="Map">			
		SELECT o.foreign_id id,o.name 
		FROM BMS_BASE_ORG o
		LEFT JOIN BMS_BASE_ORG o1 ON o.parent_id=o1.id
		WHERE o.org_type='5' and o1.name=#{factory} and o.deleted='0'
		<if test="function_url !=null and  function_url !=''">
		AND (locate(o.org_code,
		(SELECT GROUP_CONCAT(R.permission_value) FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '2'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url})))
		)>0 OR
		((SELECT IFNULL(GROUP_CONCAT(R.permission_value),'') FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '2'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url}))) = '')
		)
		</if>
	</select>
	
	<select id="getAllReasonType" parameterType="int" resultType="Map">
		SELECT * FROM BMS_BASE_KEY WHERE key_code = 'ABNORMAL_REASON'
	</select>
	
	<select id="queryLineList" parameterType="Map" resultType="Map">			
		SELECT id,line AS name FROM BMS_BASE_LINE WHERE delete_flag='0' order by line 
	</select>
	
	<select id="queryLineListAuth" parameterType="Map" resultType="Map">			
		select distinct p.line as name
		from BMS_BASE_PROCESS p
		where p.factory=#{factory} and p.workshop=#{workshop}
		<if test="function_url !=null and  function_url !=''">
		AND (locate(o.org_code,
		(SELECT GROUP_CONCAT(R.permission_value) FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '2'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url})))
		)>0 OR
		((SELECT IFNULL(GROUP_CONCAT(R.permission_value),'') FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '2'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url}))) = '')
		)
		</if>
	</select>
	
	
	<select id="queryProcessList" parameterType="Map" resultType="com.byd.bms.util.model.BmsBaseProcess">
		SELECT * FROM BMS_BASE_PROCESS 
		WHERE 1=1 
		<if test="id !=null and id !=''">
		AND id = #{id}
		</if>
		<if test="factory !=null and  factory !=''">
		AND factory = #{factory}
		</if>
		<if test="workshop !=null and  workshop !=''">
		AND workshop = #{workshop}
		</if>
		<if test="line !=null and  line !=''">
		AND line = #{line}
		</if>
	</select>
	
	<select id="getWorkshopSelect_Key" parameterType="String" resultType="Map">
		SELECT id,workshop_name AS name FROM BMS_BASE_WORKSHOP 
	</select>
	
</mapper>
