<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.util.dao.ICommonDao">

	<select id="queryOrderList" parameterType="Map" resultType="Map">
		select o.id,o.order_name name,o.order_no orderNo,o.order_code
		orderCode,o.order_qty orderQty,t.internal_name busType
		from BMS_OR_ORDER o
		left join BMS_BASE_BUS_TYPE t on o.bus_type_id=t.id 
		<if test="factory !=null and  factory !=''">
		left join BMS_OR_FACTORY_ORDER fo on fo.order_id=o.id
		left join BMS_BASE_FACTORY f on fo.factory_id=f.id
		</if>		
		where o.order_no like CONCAT('%',#{orderNo},'%') 
		<if test="busType!=null and  busType!=''">
			and t.internal_name=#{busType}
		</if>
		<if test="factory !=null and  factory !=''">
			and f.factory_name=#{factory}
		</if>
		order by o.id desc
	</select>

	<select id="queryFactoryList" parameterType="Map" resultType="Map">			
		SELECT id,factory_name AS name FROM BMS_BASE_FACTORY WHERE delete_flag='0'
		<if test="staff_number !=null and  staff_number !=''">
		AND (locate(FACTORY_CODE,
		(SELECT GROUP_CONCAT(R.permission_value) FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url})))
		)>0 OR
		((SELECT IFNULL(GROUP_CONCAT(R.permission_value),'') FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number} AND R.permission_key = '1'
		AND R.role_id IN 
		(SELECT RP.role_id FROM BMS_BASE_ROLE_PERMISSION RP WHERE 
		RP.function_id = (SELECT ID FROM BMS_BASE_FUNCTION F WHERE F.function_url = #{function_url}))) = '')
		)
		</if>
	</select>
	
	<select id="queryBusTypeList" parameterType="String" resultType="Map">
		select id,bus_type_code code,internal_name name from BMS_BASE_BUS_TYPE
		group by bus_type_code
	</select>
	
	<select id="queryKeysList" parameterType="String" resultType="map">
		SELECT id,key_name,key_name_en,value from BMS_BASE_KEY where
		delete_flag='0' and key_code=#{keyCode}
	</select>
	
	<select id="queryDepartmentByFactory" parameterType="String" resultType="Map">
		SELECT id, factory_id, department AS name, memo, editor_id, edit_date
		FROM BMS_BASE_DEPARTMENT WHERE factory_id = #{factory_id} AND deleted_flag = '0';
	</select>
	
	<select id="getAllRoleAuthority" parameterType="String" resultType="String">
		SELECT DISTINCT FUNCTION_URL FROM BMS_BASE_FUNCTION
	</select>
	
	<select id="getRoleAuthority" parameterType="String" resultType="String">
		SELECT DISTINCT FUNCTION_URL FROM BMS_BASE_FUNCTION F WHERE F.id IN 
		(SELECT DISTINCT FUNCTION_ID FROM BMS_BASE_ROLE_PERMISSION P WHERE P.role_id IN 
			(SELECT DISTINCT ROLE_ID FROM BMS_BASE_USER_ROLE R WHERE R.staff_number = #{staff_number}))
	</select>
	
</mapper>
