<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.hr.dao.IHrBaseDataDao">
    <select id="getOrgDataTreeList" parameterType="Map" resultType="Map">
		SELECT
         id,CONCAT(parent_id,'') parent_id,name_en as name,name as display_name,org_code as short_name,
         manager,org_type,org_kind,responsibilities,
         (SELECT COUNT(1) FROM BMS_BASE_ORG f2 WHERE f2.parent_id = t.id) AS sub_count,
         (SELECT name FROM BMS_BASE_ORG f2 WHERE f2.id = t.parent_id) AS parent_name
          FROM BMS_BASE_ORG t WHERE t.deleted = 0 
         <if test="id!=null">
             AND t.id=#{id} 
         </if>
         <if test="parent_id!=null">
             AND t.parent_id=#{parent_id} 
         </if>
         ORDER BY sort_number ASC	
	</select>
	<select id="getOrgDataByParentId" parameterType="Map" resultType="Map">
		SELECT id,CONCAT(parent_id,'') parent_id,name_en as name,name as display_name,
		   org_code as short_name,manager,org_type,org_kind,responsibilities,
		   (SELECT name FROM BMS_BASE_ORG f2 WHERE f2.id = t.parent_id) AS parent_name
          from BMS_BASE_ORG t where 1=1 and t.deleted='0'
		<if test="id!=null and id!=''">
			and t.id=#{id}
		</if>
		<if test="parent_id!=null and parent_id!=''">
			and t.parent_id=#{parent_id}
		</if>
		order by sort_number ASC
	</select>
	<!-- 添加组织结构 -->
	<insert id="addOrgData" useGeneratedKeys="true">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		<![CDATA[
			insert into BMS_BASE_ORG(parent_id,org_type,org_kind,name,name_en,org_code,sort_number,manager,responsibilities,deleted,editor_id,edit_date) 
			values(#{parent_id},#{org_type},#{org_kind},#{name},#{name_en},#{org_code},#{sort_number},#{manager},#{responsibilities},#{deleted},#{editor_id},#{edit_date})
		]]>
	</insert>
	<!-- 编辑组织结构 -->
	<update id="editOrgData">
			update BMS_BASE_ORG set 
			<if test="parent_id!=''">
			parent_id=#{parent_id},
			</if>
			org_type=#{org_type},org_kind=#{org_kind},name=#{name},name_en=#{name_en},org_code=#{org_code}<!-- ,sort_number=#{sort_number} -->,manager=#{manager},responsibilities=#{responsibilities},deleted=#{deleted},editor_id=#{editor_id},edit_date=#{edit_date}  
			where id=#{id}
	</update>
	<!--删除组织结构 -->
	<update id="deleteOrgData">
		<![CDATA[
			update BMS_BASE_ORG set deleted='1',editor_id=#{editor_id},edit_date=#{edit_date}  
			where id=#{id}
		]]>
	</update>
	
	<select id="getStaffList" resultType="Map" parameterType='Map'>
		SELECT s.* FROM BMS_HR_STAFF s WHERE 1=1
		<if test="orgType!='' ">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='0' ">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='1' or orgType=='2'">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='3' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and FIND_IN_SET(s.dept_org,#{orgStr})>0
		</if>
		<if test="orgType=='4' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and FIND_IN_SET(s.workshop_org,#{orgStr})>0
		</if>
		<if test="orgType=='5' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and case when ISNULL(s.workshop_org) THEN 1=1 else
			FIND_IN_SET(s.workshop_org,#{orgStr})>0 end
			and FIND_IN_SET(s.workgroup_org,#{orgStr})>0
		</if>
		<if test="orgType=='6' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and case when ISNULL(s.workshop_org) THEN 1=1 else
			FIND_IN_SET(s.workshop_org,#{orgStr})>0 end
			and case when ISNULL(s.workgroup_org) THEN 1=1 else
			FIND_IN_SET(s.workgroup_org,#{orgStr})>0 end
			and FIND_IN_SET(s.team_org,#{orgStr})>0
		</if>

		<if test="staff_number!=null and staff_number!=''">
			AND( LOCATE(s.staff_number,#{staff_number})>0 OR
			LOCATE(s.name,#{staff_number})>0 )
		</if>
		<if test="salary_type!=null and salary_type!=''">
			AND s.salary_type = #{salary_type}
		</if>
		<if test="job!=null and job!=''">
			AND s.job LIKE CONCAT('%',#{job},'%')
		</if>
		<if test="workplace!=null and workplace!=''">
			AND s.workplace LIKE CONCAT('%',#{workplace},'%')
		</if>
		<if test="status!=null and status!=''">
			AND s.status = #{status}
		</if>
		
		<if test="start !=null">
			LIMIT #{start} ,#{length} 
		</if>	
	</select>
	<select id="getStaffCount" resultType="int" parameterType='Map'>
		SELECT COUNT(s.id) FROM BMS_HR_STAFF s WHERE 1=1
		<if test="orgType!='' ">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='0' ">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='1' or orgType=='2'">
			and FIND_IN_SET(s.plant_org,#{orgStr})>0
		</if>
		<if test="orgType=='3' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and FIND_IN_SET(s.dept_org,#{orgStr})>0
		</if>
		<if test="orgType=='4' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and FIND_IN_SET(s.workshop_org,#{orgStr})>0
		</if>
		<if test="orgType=='5' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and case when ISNULL(s.workshop_org) THEN 1=1 else
			FIND_IN_SET(s.workshop_org,#{orgStr})>0 end
			and FIND_IN_SET(s.workgroup_org,#{orgStr})>0
		</if>
		<if test="orgType=='6' ">
			and case when ISNULL(s.plant_org) THEN 1=1 else
			FIND_IN_SET(s.plant_org,#{orgStr})>0 end
			and case when ISNULL(s.dept_org) THEN 1=1 else
			FIND_IN_SET(s.dept_org,#{orgStr})>0 end
			and case when ISNULL(s.workshop_org) THEN 1=1 else
			FIND_IN_SET(s.workshop_org,#{orgStr})>0 end
			and case when ISNULL(s.workgroup_org) THEN 1=1 else
			FIND_IN_SET(s.workgroup_org,#{orgStr})>0 end
			and FIND_IN_SET(s.team_org,#{orgStr})>0
		</if>

		<if test="staff_number!=null and staff_number!=''">
			AND( LOCATE(s.staff_number,#{staff_number})>0 OR
			LOCATE(s.name,#{staff_number})>0 )
		</if>
		<if test="salary_type!=null and salary_type!=''">
			AND s.salary_type = #{salary_type}
		</if>
		<if test="job!=null and job!=''">
			AND s.job LIKE CONCAT('%',#{job},'%')
		</if>
		<if test="workplace!=null and workplace!=''">
			AND s.workplace LIKE CONCAT('%',#{workplace},'%')
		</if>
		<if test="status!=null and status!=''">
			AND s.status = #{status}
		</if>
	</select>
	
	<select id="getOrg" parameterType="List" resultType="Map">
			<foreach collection="list" index="index" item="item"
				 separator="UNION ALL" >
					SELECT o1.name plant_org
						<if test="item.dept_org!=null">
							,o2.name dept_org
						</if>
						<if test="item.dept_org==null">
							,'' dept_org
						</if>
						<if test="item.workshop_org!=null">
							,o3.name workshop_org
						</if>
						<if test="item.workshop_org ==null">
							,'' workshop_org
						</if>
						<if test="item.workgroup_org!=null">
							,o4.name workgroup_org
						</if>
						<if test="item.workgroup_org ==null">
							,'' workgroup_org
						</if>
						<if test="item.team_org!=null">
							,o5.name team_org 
						</if>
						<if test="item.team_org ==null">
							,'' team_org 
						</if>
						FROM BMS_BASE_ORG o1
						<if test="item.dept_org!=null">
							LEFT JOIN BMS_BASE_ORG o2 on o1.id = o2.parent_id and o2.deleted = '0' and o2.name = #{item.dept_org}
						</if>
						<if test="item.workshop_org!=null">
							LEFT JOIN BMS_BASE_ORG o3 on 
							<if test="item.dept_org!=null">
							o2.id = o3.parent_id 
							</if>
							<if test="item.dept_org==null">
							o1.id = o3.parent_id 
							</if>
							and o3.deleted = '0' and o3.name = #{item.workshop_org}
						</if>
						<if test="item.workgroup_org!=null">
							LEFT JOIN BMS_BASE_ORG o4 on 
							<if test="item.workshop_org!=null">
								o3.id = o4.parent_id 
							</if>
							<if test="item.workshop_org ==null and item.dept_org!=null">
								o2.id = o4.parent_id 
							</if>
							<if test="item.workshop_org ==null and item.dept_org ==null">
								o1.id = o4.parent_id 
							</if>
							and o4.deleted = '0' and o4.name = #{item.workgroup_org}
						</if>
						<if test="item.team_org!=null">
							LEFT JOIN BMS_BASE_ORG o5 on 
							<if test="item.workgroup_org!=null">
								o4.id = o5.parent_id 
							</if>
							<if test="item.workgroup_org ==null and item.workshop_org!=null">
								o3.id = o5.parent_id 
							</if>
							<if test="item.workgroup_org ==null and item.workshop_org ==null and item.dept_org!=null">
								o2.id = o5.parent_id 
							</if>
							<if test="item.workgroup_org ==null and item.workshop_org ==null and item.dept_org ==null">
								o1.id = o5.parent_id 
							</if>
							and o5.deleted = '0' and o5.name = #{item.team_org}
						</if>
					WHERE o1.name = #{item.plant_org} AND o1.deleted = '0'
			</foreach>
	</select>
	<select id="getStaffListByStaffNumbers" resultType="String" parameterType='Map'>
		SELECT s.staff_number FROM BMS_HR_STAFF s
		WHERE FIND_IN_SET(s.staff_number,#{staff_numbers})>0
	</select>
	
</mapper>
