<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.hr.dao.IHrReportDao">
  	
		
	<!-- 查询奖惩汇总信息 -->
	<select id="getRewardsCollectList" resultType="Map"
		parameterType='Map'>
		
		SELECT tmp.*,r.rewards_date,r.reasons,r.add as add_,r.deduct as decuct_,r.group_leader,r.gaffer,r.proposer,r.status 
			FROM 
					(SELECT
							r1.staff_number,s.name,s.workgroup_org,s.team_org,left(r1.rewards_date,7) rewards_month,r1.rewards_factory,r1.rewards_workshop,100
							AS 'fullmark',sum(r1.add) AS `add`,
							SUM(r1.deduct) AS
							deduct,100+ifnull(sum(r1.add),0)-ifnull(SUM(r1.deduct),0) AS mark
							 FROM
							BMS_HR_REWARDS r1
							LEFT JOIN BMS_HR_STAFF s ON r1.staff_number = s.staff_number
							WHERE
							1=1
							and r1.rewards_date LIKE CONCAT(#{rewards_date},'%') 
							<if test="rewards_factory!=null and rewards_factory!=''">
								AND r1.rewards_factory = #{rewards_factory}
							</if>
							<if test="rewards_workshop!=null and rewards_workshop!=''">
								AND r1.rewards_workshop = #{rewards_workshop}
							</if>
							<if test="staff_number!=null">
								AND r1.staff_number LIKE CONCAT('%',#{staff_number},'%') 
								AND (s.staff_number LIKE CONCAT('%',#{staff_number},'%') OR s.name LIKE CONCAT('%',#{staff_number},'%'))
							</if>
							GROUP BY r1.staff_number,left(r1.rewards_date,7),r1.rewards_factory,r1.rewards_workshop
							order by r1.staff_number,left(r1.rewards_date,7),r1.rewards_factory,r1.rewards_workshop
							<if test="start !=null  and length!=-1">
								LIMIT #{start} ,#{length} 
							</if>
							)tmp  
		    LEFT JOIN BMS_HR_REWARDS r 
				ON tmp.staff_number = r.staff_number AND tmp.rewards_month = left(r.rewards_date,7) 
					AND tmp.rewards_factory = r.rewards_factory AND tmp.rewards_workshop = r.rewards_workshop 
			LEFT JOIN BMS_HR_STAFF s1 ON r.staff_number = s1.staff_number
		 WHERE 1=1 
					and	r.rewards_date LIKE CONCAT(#{rewards_date},'%')
				<if test="rewards_factory!=null and rewards_factory!=''">
					AND r.rewards_factory = #{rewards_factory}
				</if>
				<if test="rewards_workshop!=null and rewards_workshop!=''">
					AND r.rewards_workshop = #{rewards_workshop}
				</if>
				<if test="staff_number!=null">
					AND r.staff_number LIKE CONCAT('%',#{staff_number},'%') 
					AND (s1.staff_number LIKE CONCAT('%',#{staff_number},'%') OR s1.name LIKE CONCAT('%',#{staff_number},'%'))
				</if>
				ORDER BY r.staff_number,tmp.rewards_month,tmp.rewards_factory,tmp.rewards_workshop
	</select>
	<select id="getRewardsCollectTotalCount" resultType="int"
		parameterType='Map'>
		SELECT 		count(tmp.staff_number)  FROM (
				SELECT r.staff_number FROM BMS_HR_REWARDS r
				LEFT JOIN BMS_HR_STAFF s ON r.staff_number = s.staff_number
				WHERE  1= 1
				and r.rewards_date LIKE CONCAT('%',#{rewards_date},'%')
				<if test="rewards_factory!=null and rewards_factory!=''">
					AND r.rewards_factory = #{rewards_factory}
				</if>
				<if test="rewards_workshop!=null and rewards_workshop!=''">
					AND r.rewards_workshop = #{rewards_workshop}
				</if>
				<if test="staff_number!=null">
					AND r.staff_number LIKE CONCAT('%',#{staff_number},'%') 
					AND (s.staff_number LIKE CONCAT('%',#{staff_number},'%') OR s.name LIKE CONCAT('%',#{staff_number},'%'))
				</if>
				GROUP BY r.staff_number,left(r.rewards_date,7),r.rewards_factory,r.rewards_workshop )tmp

	</select>
	
	<select id="queryStaffPieceHours" parameterType="Map" resultType="Map">
		<if test="salary_model=='技能系数' or salary_model=='承包制'">
		select ps.*,concat(o.order_no,o.order_name,t.bus_type_code,' ',o.order_qty,'台') order_desc
		from BMS_HR_PIECE_SALARY ps
		left join BMS_OR_ORDER o on ps.order_id=o.id
		left join BMS_BASE_BUS_TYPE t on t.id=o.bus_type_id	
		where ps.factory=#{factory} and ps.workshop=#{workshop} and ps.salary_model=#{salary_model}
			<if test="workgroup !=null and workgroup !='全部'">
				and ps.workgroup=#{workgroup}
			</if>
			<if test="team !=null and team !='全部'">
				and ps.team=#{team}
			</if>
			<if test="staff !=null and staff !=''">
				and (ps.staff_number like concat('%',#{staff},'%') or ps.staff_name like concat('%',#{staff},'%') ) 
			</if>
			<if test="bus_number !=null and bus_number !=''">
				and ps.bus_number like concat('%',#{bus_number},'%')
			</if>
			<if test="order_id !=null and order_id !=''">
				and ps.order_id=#{order_id}
			</if>
			<if test="order_no !=null and order_no !=''">
				and o.order_no like concat('%',#{order_no},'%')
			</if>
			<if test="wdate_start !=null and wdate_start !=''">
				and ps.work_date>=#{wdate_start}
			</if>
			<if test="wdate_end !=null and wdate_end !=''">
				and ps.work_date&lt;=#{wdate_end}
			</if>
			<if test="count_flag=='车辆维度'">
				order by ps.bus_number
			</if>	
			<if test="count_flag=='人员维度'">
				order by ps.staff_number
			</if>
			<if test="start !=null and length !='-1' ">
				LIMIT #{start} ,#{length} 
			</if>	
		</if>
		
		<if test="salary_model=='辅助人力' or salary_model=='底薪模式'">
		select h.*,s.name staff_name,s.job,s.basic_salary,ps.ppay
		from BMS_HR_STAFF_PIECE_HOURS h
		left join BMS_HR_PIECE_SALARY ps on ps.salary_model=#{salary_model} and h.staff_number=ps.staff_number and h.factory=ps.factory
			and h.workshop=ps.workshop and h.workgroup=ps.workgroup and h.team=ps.team and locate(ps.work_date,h.work_date)>0
		left join BMS_HR_STAFF s on s.staff_number=h.staff_number
		where h.factory=#{factory} and h.workshop=#{workshop} and h.salary_model=#{salary_model}
		<if test="workgroup !=null and workgroup !='全部'">
				and h.workgroup=#{workgroup}
			</if>
			<if test="team !=null and team !='全部'">
				and h.team=#{team}
			</if>
			<if test="staff !=null and staff !=''">
				and (h.staff_number like concat('%',#{staff},'%') or s.name like concat('%',#{staff},'%') ) 
			</if>
			<if test="wdate_start !=null and wdate_start !=''">
				and h.work_date>=#{wdate_start}
			</if>
			<if test="wdate_end !=null and wdate_end !=''">
				and h.work_date&lt;=#{wdate_end}
			</if>
			<if test="count_flag=='日期维度'">
				order by h.work_date,h.factory,h.workshop,h.workgroup,h.team
			</if>	
			<if test="count_flag=='人员维度'">
				order by h.staff_number
			</if>
			<if test="start !=null and length !='-1' ">
				LIMIT #{start} ,#{length} 
			</if>
		</if>
		
	</select>
	
	<select id="queryStaffPieceHoursCount" parameterType="Map" resultType="int">
		<if test="salary_model=='技能系数' or salary_model=='承包制'">
		select count(ps.id)
		from BMS_HR_PIECE_SALARY ps
		where ps.factory=#{factory} and ps.workshop=#{workshop} and ps.salary_model=#{salary_model}
			<if test="workgroup !=null and workgroup !='全部'">
				and ps.workgroup=#{workgroup}
			</if>
			<if test="team !=null and team !='全部'">
				and ps.team=#{team}
			</if>
			<if test="staff !=null and staff !=''">
				and (ps.staff_number like concat('%',#{staff},'%') or ps.staff_name like concat('%',#{staff},'%') ) 
			</if>
			<if test="bus_number !=null and bus_number !=''">
				and ps.bus_number like concat('%',#{bus_number},'%')
			</if>
			<if test="order_id !=null and order_id !=''">
				and ps.order_id=#{order_id}
			</if>
			<if test="order_no !=null and order_no !=''">
				and o.order_no like concat('%',#{order_no},'%')
			</if>
			<if test="wdate_start !=null and wdate_start !=''">
				and ps.work_date>=#{wdate_start}
			</if>
			<if test="wdate_end !=null and wdate_end !=''">
				and ps.work_date&lt;=#{wdate_end}
			</if>
		</if>
		
		<if test="salary_model=='辅助人力' or salary_model=='底薪模式'">
		select count(h.id)
		from BMS_HR_STAFF_PIECE_HOURS h		
		left join BMS_HR_STAFF s on s.staff_number=h.staff_number
		where h.factory=#{factory} and h.workshop=#{workshop} and h.salary_model=#{salary_model}
		<if test="workgroup !=null and workgroup !='全部'">
				and h.workgroup=#{workgroup}
			</if>
			<if test="team !=null and team !='全部'">
				and h.team=#{team}
			</if>
			<if test="staff !=null and staff !=''">
				and (h.staff_number like concat('%',#{staff},'%') or s.name like concat('%',#{staff},'%') ) 
			</if>
			<if test="wdate_start !=null and wdate_start !=''">
				and h.work_date>=#{wdate_start}
			</if>
			<if test="wdate_end !=null and wdate_end !=''">
				and h.work_date&lt;=#{wdate_end}
			</if>
		</if>
	</select>
	
</mapper>
