<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byd.bms.production.dao.IProductionDao">

	<select id="queryLineProcessList" parameterType="Map" resultType="Map">
		SELECT p.line line_name,p.workshop workshop_name,p.factory factory_name,
		concat('[',group_concat('{"id":',p.id,',"code":"',TRIM(p.process_code),'","monitor_flag":"',p.monitory_point_flag,'","name":"',TRIM(p.process_name),'"}' order by p.id),']') process_list
		FROM BMS_BASE_PROCESS p
		where p.factory=#{factory} and p.workshop=#{workshop} and p.delete_flag='0'
		group by p.line
	</select>
	
	<select id="queryProcessMonitorList" parameterType="Map" resultType="Map">
		select p.id,p.process_code,r.process_name
		from BMS_PD_SCAN_RULE r
		left join BMS_BASE_PROCESS p on r.factory=p.factory and r.workshop=p.workshop 
		and p.line=#{line} and p.process_name=r.process_name 
		where p.monitory_point_flag='1' and p.delete_flag='0' 
		and r.factory=#{factory} and r.workshop=#{workshop} and p.line=#{line} 
		and r.order_type=#{order_type}
		order by r.sequence asc
	</select>
	
</mapper>
